/*================================================================
  #VAR
  ================================================================*/
/*================================================================
  #VENDOR
  ================================================================*/
.top-bar {
  background-color: #0A1010;
}

.top-bar ul {
  background-color: #0A1010;
}

/*================================================================
  #GLOBAL
  ================================================================*/
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a,
button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ig-text-shadow, .ig-text-highlight-enabled, .ig-breadcrumbs a.enabled, .game-header, .sidebar-header-enabled, .sidebar-header.enabled, .sidebar-header:hover {
  text-shadow: 0px 0px 10px #FFF;
}

.ig-text-highlight-base, .ig-text-highlight, .sidebar-header, .ig-text-highlight-enabled, .ig-breadcrumbs a.enabled, .game-header, .ig-text-highlight-disabled, .ig-breadcrumbs a {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.ig-text-highlight, .sidebar-header {
  color: #ffffff;
}

.ig-text-highlight-enabled, .ig-breadcrumbs a.enabled, .game-header {
  color: #ffffff;
}

.ig-text-highlight-disabled, .ig-breadcrumbs a {
  color: #435767;
}

/*================================================================
  #GENERAL
  ================================================================*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-image: url("../screenshot/screenshot1.jpg");
  background-size: cover;
}

.skill-cold-snap {
  background-image: url("../img/skill-cold-snap.png");
}

.skill-ghost-walk {
  background-image: url("../img/skill-ghost-walk.png");
}

.skill-ice-wall {
  background-image: url("../img/skill-ice-wall.png");
}

.skill-emp {
  background-image: url("../img/skill-emp.png");
}

.skill-tornado {
  background-image: url("../img/skill-tornado.png");
}

.skill-alacrity {
  background-image: url("../img/skill-alacrity.png");
}

.skill-sun-strike {
  background-image: url("../img/skill-sun-strike.png");
}

.skill-forge-spirit {
  background-image: url("../img/skill-forge-spirit.png");
}

.skill-chaos-meteor {
  background-image: url("../img/skill-chaos-meteor.png");
}

.skill-deafening-blast {
  background-image: url("../img/skill-deafening-blast.png");
}

/*================================================================
  #MENU
  ================================================================*/
.ig-top-menu {
  background-image: linear-gradient(to top, #171717, #111, #040404, #010101);
  border-bottom: 1px solid #31302E;
  position: relative;
  z-index: 1;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 18px 0px #0a1010;
  -moz-box-shadow: 0px 0px 18px 0px #0a1010;
  box-shadow: 0px 0px 18px 0px #0a1010;
}

.ig-top-menu a {
  color: #908d8b;
}

.ig-top-menu a:hover {
  color: #ffffff;
}

.ig-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 126px;
  background-position: left center;
  height: 36px;
  display: block;
  text-align: right;
}

/*================================================================
  #BODY
  ================================================================*/
.ig-main-body {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #647E8E;
  background: rgba(100, 126, 142, 0.48);
}

.ig-breadcrumbs {
  padding-top: 54px;
  padding-bottom: 54px;
}

.ig-breadcrumbs ul {
  margin: 0;
  background: none;
  border: none;
}

.ig-breadcrumbs a {
  font-size: 28px;
}

.ig-breadcrumbs .breadcrumbs li:not(:last-child)::after {
  font-size: 28px;
  color: #435767;
}

.ig-breadcrumbs .breadcrumbs > :before {
  font-size: 28px;
}

/*================================================================
  #BODY - CONTENT
  ================================================================*/
.ig-game {
  border: 1px solid #31302E;
  position: relative;
  z-index: 1;
  color: #fff;
  box-shadow: 0px 0px 18px 0px #0a1010;
  height: 600px;
}

.ig-game-bg {
  background-color: #5891B5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
}

.ig-game-inner {
  height: 600px;
  background-image: url("../img/overlay2.png");
  position: relative;
  z-index: 0;
}

.game-header {
  font-size: 36px;
  padding: 24px;
  text-align: center;
}

.game-title {
  text-align: center;
}

.targeted-skill {
  text-align: center;
  margin-top: 36px;
}

.key-wrap {
  display: block;
  text-align: center;
  width: 492px;
  height: 82px;
  position: absolute;
  bottom: 48px;
}

.pressed-key-wrap {
  width: 320px;
  display: block;
  position: relative;
  height: 120px;
  margin: 0 auto;
  margin-top: 36px;
}

.key-box,
.pressed-key-box {
  float: left;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.key-box {
  width: 82px;
  height: 82px;
  background-color: #0A1010;
  border: 1px solid #ffffff;
}

.key-box .key {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  display: block;
  background-color: #0A1010;
  text-transform: uppercase;
}

.pressed-key-box {
  height: 100px;
  width: 100px;
  background-color: #0A1010;
  border: 1px solid #ffffff;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}

.key-quas {
  background-image: url("../img/orb-quas.png");
}

.key-wex {
  background-image: url("../img/orb-wex.png");
}

.key-exort {
  background-image: url("../img/orb-exort.png");
}

.key-invoke {
  background-image: url("../img/skill-invoke.png");
}

.bar-countdown {
  background-color: #0A1010;
  height: 30px;
  width: 100%;
  top: 200px;
  position: relative;
}

.reset-btn {
  background-color: #929292;
  float: right;
  cursor: pointer;
  padding: 12px;
  position: absolute;
  bottom: 48px;
  right: .9375rem;
}

/*================================================================
  #BODY - RIGHT
  ================================================================*/
.ig-right ul {
  list-style-type: none;
  margin-bottom: 0;
}

.sidebar-header-enabled, .sidebar-header.enabled, .sidebar-header:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.sidebar-header {
  border: 1px solid #67C1F5;
  display: block;
  padding: 12px;
  margin-bottom: 1rem;
  color: #67C1F5;
}

.sidebar-content {
  color: #ffffff;
  margin-bottom: 1rem;
}

.sidebar-content.disabled {
  height: 0;
}

.ig-skill {
  color: #ffffff;
}

.ig-skill .skill-item {
  margin-bottom: 6px;
}

.ig-skill .skill-item span {
  height: 24px;
  line-height: 24px;
  display: inline-block;
}

.ig-skill .skill-img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.ig-skill .skill-name:after {
  margin-left: 6px;
  content: '-';
}

.orb-quas {
  color: #7998b5;
}

.orb-wex {
  color: #d671a9;
}

.orb-exort {
  color: #cabe68;
}

.orb {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 2px;
}

.orb:last-child {
  margin-right: 0px;
}

.ig-controll .key {
  color: #67C1F5;
  text-transform: uppercase;
}
